@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2c5f8d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .section-tagline {
    @apply inline-block px-4 py-1.5 rounded-full border border-[#1e3a5f] bg-[#0f2035] text-[#33dfe5] text-xs font-semibold tracking-wider mb-4;
  }
  .section-title {
    @apply text-3xl lg:text-5xl font-semibold mb-4 text-[#FFFFFF] leading-tight;
  }
  .section-subtitle {
    @apply text-gray-400 text-[16px] lg:text-lg leading-relaxed max-w-[690px] mx-auto;
  }
  .container {
    @apply container mx-auto px-4 md:px-5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

/* ant select */

.ant-select-item-option-selected {
  background-color: #2c5f8d !important;
  color: white !important;
}

.ant-select-item-option-active {
  background-color: #2c5f8d !important;
  color: white !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #6b5ecc34;  */
  background: #d9d9d9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f2535;
}

@layer utilities {
  .text-primary {
    color: #2c5f8d;
  }

  .border-primary {
    border-color: #2c5f8d;
  }

  .bg-primary {
    background-color: #2c5f8d;
  }

  .text-secondary {
    color: #34353a;
  }

  .text-base {
    color: #5c5c5c;
  }
}

html {
  scroll-behavior: smooth !important;
}

.jodit-container:not(.jodit_inline) {
  border: none !important;
  background-color: transparent !important;
  border-radius: 11px !important;
  /* display: flex;
  flex-direction: column-reverse;
  height: 100% !important */
}
.jodit-ui-group {
  background-color: transparent !important;
}
.jodit-toolbar__box:not(:empty) {
  background-color: transparent !important;
  border: none !important;
}

.mobile-nav {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
  -webkit-touch-callout: none;
}

.custom-faq-collapse .ant-collapse-item {
  margin-bottom: 16px !important;
  /* background-color: #e8eff6 !important; */
  border: none !important;
  border-radius: 8px !important;
}

.custom-faq-collapse .ant-collapse-header {
  /* padding: 16px 24px !important; */
  background-color: #e8eff6 !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  color: #333 !important;
  font-size: 16px !important;
}

.custom-faq-collapse .ant-collapse-content {
  padding-top: 16px !important;
  background-color: #ffffff !important;
  border-top: none !important;
}

.custom-faq-collapse .ant-collapse-expand-icon {
  color: #666 !important;
  font-size: 14px !important;
}

.custom-faq-collapse .ant-collapse-content-box {
  background-color: #fff !important;
  padding: 0 !important;
}
/* for table  */
@media (max-width: 768px) {
  .ant-table th,
  .ant-table td {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .ant-table {
    font-size: 10px;
  }
}

.practiceSwiper .swiper-slide {
  display: flex;
  height: auto !important; /* let it adapt to wrapper */
}

.practiceSwiper .swiper-slide > div {
  flex: 1;
  height: 100%;
}
.ant-tabs-nav-wrap {
  width: 50% !important;
}

.concept-form .ant-form-item {
  margin-bottom: 14px !important;
}
.boxShadow {
  box-shadow: 4px 4px 29px 0px rgba(0, 0, 0, 0.14);
}

.single-note-tab > .jodit-react-container > .jodit-container {
  display: flex !important;
  flex-direction: column-reverse !important;
  height: 100% !important;
}
.single-note-tab
  > .jodit-react-container
  > .jodit-container
  > .jodit-workplace
  > .jodit-wysiwyg {
  height: calc(100vh - 320px) !important;
  overflow-y: auto !important;
}
.single-note-tab
  > .jodit-react-container
  > .jodit-container
  > .jodit-toolbar__box {
  display: fixed !important;
}

.rbc-row-content {
  z-index: 0 !important;
}

.floating-edges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floating-edges .react-flow__handle {
  opacity: 0;
}

/* scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */

  scrollbar-width: none; /* Firefox */
}

/* calendar */
@media (min-width: 1024px) and (max-width: 1535px) {
  /* Header */
  /* 🔴 REMOVE DROPDOWN ICON (KEY FIX) */
  /* .ant-picker-calendar-header .ant-select-arrow {
    display: none !important;
  } */
  .ant-picker-calendar-header
    > .ant-select
    > .ant-select-selector
    > .ant-select-selection-wrap
    > .ant-select-selection-item {
    font-size: 10px !important;
  }

  .ant-picker-calendar-header {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
  }
  .ant-picker-calendar-header
    > .ant-radio-group
    > .ant-radio-button-wrapper
    > .ant-radio-button-label {
    font-size: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }
  .ant-picker-calendar-header > .ant-select {
    flex: 0 0 auto;
    width: 42px;
    min-width: 42px;
  }
  .ant-picker-calendar-header > .ant-radio-group {
    display: flex;
    flex: 0 0 auto;
    gap: 2px;
  }
}
.ant-picker-cell-inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 24px;
  height: 28px !important;
  line-height: 24px;
  border-radius: 4px;
  /* transition: background 0.2s; */
}
.ant-btn {
  box-shadow: none !important;
}
.ant-picker-calendar-header {
  padding: 0px 0px 8px 0px !important;
}

.active-icon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(86%) saturate(2920%)
    hue-rotate(330deg) brightness(100%) contrast(100%);
}

.inactive-icon {
  filter: none;
}

.active-icon-filter {
  filter: brightness(0) saturate(100%) invert(56%) sepia(87%) saturate(1518%)
    hue-rotate(313deg) brightness(101%) contrast(105%);
}

.white-icon-filter {
  filter: brightness(0) saturate(100%) invert(100%) brightness(200%);
}

.small-calendar .ant-picker-cell-selected .ant-picker-cell-inner {
  background: transparent !important;
  color: inherit !important;
}

.small-calendar .ant-picker-cell-selected:hover .ant-picker-cell-inner {
  background: rgba(0, 0, 0, 0.04) !important;
}

.study-note-content {
  all: revert;
}
