@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #003877;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ant select */

.ant-select-item-option-selected {
  background-color: #003877 !important;
  color: white !important;
}

.ant-select-item-option-active {
  background-color: #003877 !important;
  color: white !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #6b5ecc34;  */
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f2535;
}

@layer utilities {
  .text-primary {
    color: #003877;
  }

  .border-primary {
    border-color: #003877;
  }

  .bg-primary {
    background-color: #003877;
  }

  .text-secondary {
    color: #34353a;
  }

  .text-base {
    color: #5c5c5c;
  }
}

html {
  scroll-behavior: smooth !important;
}

.jodit-container:not(.jodit_inline) {
  border: none !important;
  background-color: transparent !important;
  border-radius: 11px !important;
}
.jodit-ui-group {
  background-color: transparent !important;
}
.jodit-toolbar__box:not(:empty) {
  background-color: transparent !important;
  border: none !important;
}

.mobile-nav {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
  -webkit-touch-callout: none;
}

.custom-faq-collapse .ant-collapse-item {
  margin-bottom: 16px !important;
  /* background-color: #e8eff6 !important; */
  border: none !important;
  border-radius: 8px !important;
}

.custom-faq-collapse .ant-collapse-header {
  /* padding: 16px 24px !important; */
  background-color: #e8eff6 !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  color: #333 !important;
  font-size: 16px !important;
}

.custom-faq-collapse .ant-collapse-content {
  padding-top: 16px !important;
  background-color: #ffffff !important;
  border-top: none !important;
}

.custom-faq-collapse .ant-collapse-expand-icon {
  color: #666 !important;
  font-size: 14px !important;
}

.custom-faq-collapse .ant-collapse-content-box {
  background-color: #fff !important;
  padding: 0 !important;
}
/* for table  */
@media (max-width: 768px) {
  .ant-table th,
  .ant-table td {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .ant-table {
    font-size: 10px;
  }
}

.practiceSwiper .swiper-slide {
  display: flex;
  height: auto !important; /* let it adapt to wrapper */
}

.practiceSwiper .swiper-slide > div {
  flex: 1;
  height: 100%;
}
.ant-tabs-nav-wrap {
  width: 50% !important;
}

.concept-form .ant-form-item {
  margin-bottom: 14px !important;
}
.boxShadow {
  box-shadow: 4px 4px 29px 0px rgba(0, 0, 0, 0.14);
}
